[Unit]
Description=DisNBot
After=network.target

[Service]
WorkingDirectory=/home/mineman/Coding/DisNBot
Type=simple
User=mineman
ExecStart=/bin/bash ./start.sh
Restart=always

[Install]
WantedBy=multi-user.target
