[Unit]
Description=Discord Bot
After=network.target

[Service]
WorkingDirectory=
Type=simple
User=
ExecStart=/usr/bin/node ./start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
